mixin job(date, title, location, src, linkClass="")
	.date 
		i.fa-solid.fa-square
		span=date
		svg.node-linker(class=linkClass)
			path(d="M2 2 L2 100")
	.job
		.title
			div=title
				span.location=location
			if src
				.logo
					img(src=src)
		if block
			block
		else 
			p todo
	style 
		include:scss job.mixin.scss