article.contact
	+title(translations.side.contact)
	if contact.address
		.info 
			i.fa-fw.fa-solid.fa-map-pin
			span #{contact.address}
	if contact.phone
		.info 
			i.fa-fw.fa-solid.fa-mobile-screen
			a(href=`tel:${contact.phone}`) #{contact.phone}
	if contact.email
		.info 
			i.fa-fw.fa-solid.fa-envelope
			a(href=`mailto:${contact.email}`) #{contact.email}
	if contact.github
		.info 
			i.fa-fw.fa-brands.fa-github
			a(href=`https://${contact.github}/`) #{contact.github}
	if contact.site
		.info 
			i.fa-fw.fa-solid.fa-globe
			a(href=`https://${contact.site}`) #{contact.site}